{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}What Bliss!{% endblock %}</title>
  </head>

  <body>
    <header></header>

    <main>
      {% block content %}
      <h1 style="text-align: center">Welcome to Cherry Cloud!</h1>
      <p></p>
      <p style="text-align: center"><em>Where cherries ride free</em></p>
      <p></p>
      <img
        src="/static/images/unsplash-cherry-photos/cherry_bunch_tree_burak_tonc.jpg"
        alt="Cherries hanging from tree"
        style="width: 200px; height: 200px"
      />
      {% endblock %}
    </main>

    <footer></footer>
  </body>
</html>
