{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Reviews{% endblock %}</title>
</head>

<body>
    <header></header>

    <main>
        {% block content %}
            <h1 style="text-align:center">Reviews</h1>
            <p></p>
            <p style="text-align:center"><em>Where cherries ride free with thought</em></p>
            <p></p>
            {{ for posts in all_posts}}
                <!-- layout -->
            {{end for}}
        {% endblock %}
    </main>

    <footer></footer>
</body>

</html>